.App {
  text-align: center;
}

.My-primary{
  background-color: #333333;
  height: 100vh;  
}

.My-fab-wrapper{
  position:fixed;
  right:20px;
  bottom:20px;

}

.My-fab{
  background-color: #2F80ED;
  color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
