.App {
  text-align: center;
}

.My-primary {
  background-color: #333333;
  height: 100vh;
}

.My-fab-wrapper {
  position: fixed;
  bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
